@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
body {
    background: url(Images/rock-paper-scissors-seamless-pattern.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Rowdies', cursive;
}
* {
    margin: 0px;
    padding: 0px;
}
.header {
    padding: 8px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
    background: #D8130A;
}
.main-frame {
    border: 3px solid;
    margin: 8px 35px;
    background: #0000004a;
    border-radius: 20px;
}
.score-frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.corona-score-div,
.player-score-div {
    display: flex;
    align-items: center;
    flex: 1 1 0%;
}
.score-frame span {
    font-size: 20px;
    color: white;
}

.player-score-div {
    justify-content: flex-end;
}
.score-frame img {
    height: auto;
    width: 25%;
}
.result-frame {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.result-frame span {
    font-size: 35px;
    padding: 8px;
}
.result-frame .results-box {
    width: 750px;
    height: 300px;
    border-radius: 22px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 43px;
    color: white;
}
.buttons-frame {
    display: flex;
    justify-content: space-around;
    padding: 17px 12px;
}

.buttons-frame img {
    height: auto;
    border: 4px solid black;
    width: 13%;
    background: white;
    border-radius: 18px;
}
.buttons-frame img:hover {
    cursor: pointer;
}
.buttons-frame .rock:hover {
    border-color: #ffe84a;
    box-shadow: 5px 5px 12px #ffe84a;
}

.buttons-frame .paper:hover {
    border-color: #00e1d4;
    box-shadow: 5px 5px 12px #00e1d4;
}

.buttons-frame .scissor:hover {
    border-color: #f1baf5;
    box-shadow: 5px 5px 12px #f1baf5;
}

.footer {
    background: #8bc34a;
    padding: 13px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: black;
    text-decoration: none;
}